*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-image: linear-gradient(to bottom, white, black);
    background-attachment: fixed;
    overflow-x: hidden;
}
header{
    width: 100vw;
}
.livros{
    margin-top: 5vh;
    width: 70vw;
    margin-left: 15vw;
}
.one{
    background-color: white;
    box-shadow: 3px 3px 10px black;
    margin-bottom: 5vh;
    display: flex;
    align-items: center;
}
.book{
    margin: 20px;
    display: flex;
    flex-direction: column;
}
.book h2{
    margin-bottom: 2vh;
}
.sinopse{
    text-align: justify;
    font-size: 20px;
}
img{
    margin: 20px;
    width: 10vw;
    box-shadow: 3px 3px 10px black;
}
#menu{
    width: 100%;
    height: 80px;
    background-color: black;
    margin-bottom: 30px;
    display: flex;
}

.menu{
    list-style: none;
    padding: 0;
    margin: 0;
    line-height: 60px;
}

.menu li {
    position: relative;
    float: left;
    margin-left: 68px;
  }

  .menu li a {
      background-color: black;
    color: rgb(224, 212, 212);
    text-decoration: none;
    padding: 10px 1px;
    display: block;
    font-size: 20px;
    
  }

  .menu li a:hover {
    background: #333;
    color: #fff;
    box-shadow: 0 3px 10px 0 rgb(248, 226, 226);
    box-shadow: 0 3px 10px 0 #ccc;
    text-shadow: 0px 0px 5px rgb(214, 193, 193);
  }
  .menu li ul {
    position: absolute;
    top: 80px;
    left: 0;
    display: none;
    margin: 0;
    padding: 0;
    margin-left: -70px;
  }

  .menu li:hover ul,
.menu li.over ul {
  display: block;
}

.menu li ul li {
    border: 1px solid #c0c0c0;
    display: block;
    width: 220px;
  }

  /* footer páginas secundárias */
.footer1{
    width: 100%;
    height: 100px;
    position: absolute;
    background-color: black;
    text-align: center;
    color: white;
    font-size: 18px;
    padding: 0px;
    margin-top: 50px;
    
  }
  /* logomarca usada no footer*/
.logo {
    width: auto;
    height: 72px;
    text-align: center;
    margin-top: 5px;
}
.logotit {
    width: auto;
    height: 72px;
    text-align: center;
    margin-top: 5px;
}
